In [ ]:
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.10/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.1.4)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.32)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)

In [ ]:
# Gunakan libraries dan dataset dibawah ini (sama seperti di kelas)
import pandas as pd
import pandasql

from pandasql import sqldf
sql_run = lambda q: sqldf(q, globals())

orders = pd.read_excel('orders.xlsx')
order_details = pd.read_excel('order_detail.xlsx')

In [ ]:
!pip install matplotlib-venn

Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.10/dist-packages (0.11.10)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from matplotlib-venn) (3.7.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from matplotlib-venn) (1.26.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from matplotlib-venn) (1.13.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->matplotlib-venn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->matplotlib-venn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->matplotlib-venn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->matplotlib-venn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->matplotlib-venn) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->matplotlib-venn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->matplotlib-venn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->matplotlib-venn) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->matplotlib-venn) (1.16.0)

In [ ]:
!apt-get -qq install -y libfluidsynth1

E: Package 'libfluidsynth1' has no installation candidate

In [ ]:
orders = pd.read_excel('orders.xlsx')
order_details = pd.read_excel('order_detail.xlsx')

In [ ]:
pip install libarchive

Collecting libarchive
  Downloading libarchive-0.4.7.tar.gz (23 kB)
  Preparing metadata (setup.py) ... done
Collecting nose (from libarchive)
  Downloading nose-1.3.7-py3-none-any.whl.metadata (1.7 kB)
Downloading nose-1.3.7-py3-none-any.whl (154 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.7/154.7 kB 7.9 MB/s eta 0:00:00
Building wheels for collected packages: libarchive
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for libarchive (setup.py) ... error
  ERROR: Failed building wheel for libarchive
  Running setup.py clean for libarchive
Failed to build libarchive
ERROR: ERROR: Failed to build installable wheels for some pyproject.toml based projects (libarchive)

In [ ]:
!pip install cartopy
import cartopy

Collecting cartopy
  Downloading Cartopy-0.23.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.21 in /usr/local/lib/python3.10/dist-packages (from cartopy) (1.26.4)
Requirement already satisfied: matplotlib>=3.5 in /usr/local/lib/python3.10/dist-packages (from cartopy) (3.7.1)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.10/dist-packages (from cartopy) (2.0.6)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.10/dist-packages (from cartopy) (24.1)
Requirement already satisfied: pyshp>=2.3 in /usr/local/lib/python3.10/dist-packages (from cartopy) (2.3.1)
Requirement already satisfied: pyproj>=3.3.1 in /usr/local/lib/python3.10/dist-packages (from cartopy) (3.6.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.5->cartopy) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.5->cartopy) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.5->cartopy) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.5->cartopy) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.5->cartopy) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.5->cartopy) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.5->cartopy) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from pyproj>=3.3.1->cartopy) (2024.7.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>=3.5->cartopy) (1.16.0)
Downloading Cartopy-0.23.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 59.5 MB/s eta 0:00:00
Installing collected packages: cartopy
Successfully installed cartopy-0.23.0

In [ ]:
orders

    id  customer_id  order_id          order_date  company    status
0    1      1268454         1 2020-01-02 01:30:10     Beta      SENT
1    2       727280         2 2020-01-02 01:40:10     Beta      SENT
2    3      1998038         3 2020-01-03 04:48:01     Beta  REJECTED
3    4       961596         4 2020-02-05 06:30:00    Alpha  REJECTED
4    5       322766         5 2020-02-11 17:30:10    Alpha      SENT
5    6      2202022         6 2020-02-12 12:30:11    Alpha      SENT
6    7      4080000         7 2020-02-11 01:30:00  Charlie      SENT
7    8     20055617         8 2020-03-11 08:00:11  Charlie      SENT
8    9       961596         9 2020-03-12 11:30:11    Delta  REJECTED
9   10      2202022        10 2020-03-12 17:00:12    Delta      SENT
10  11      1998038        11 2020-03-15 14:00:45     Beta  REJECTED
11  12       322766        12 2020-04-01 11:00:22     Beta      SENT
12  13      1300026        13 2020-04-01 12:20:37    Alpha      SENT
13  14       388867        14 2020-04-02 15:15:19  Charlie      SENT

In [ ]:
order_details

    Id  order_id      product_name  quantity  price
0    1         1         Coca Cola       100   6000
1    2         1            Sprite        80   5500
2    3         2         Coca Cola        70   6000
3    4         2            Sprite        41   5500
4    5         2       Fanta Grape        12   3000
5    6         2  Fanta Strawberry        20   3100
6    7         3  Fanta Strawberry        30   3200
7    8         3       Fanta Grape        90   3300
8    9         3            Sprite       100   5500
9   10         4         Coca Cola        40   6000
10  11         5         Green Tea        50   8000
11  12         6       Fanta Grape        10   3000
12  13         6  Fanta Strawberry         8   3100
13  14         6         Green Tea        80   8000
14  15         6         Soya Milk        15   9500
15  16         7         Root Beer        70   1000
16  17         8              Milk      1500  13000

### 1. Soal : Tiap Perusahaan ingin menghitung suatu pesanan pada tiap harinya yang memiliki status rejected.
#### (poin 15)
Saran pengerjaan :

Anda memiliki tabel orders dengan kolom-kolom berikut: company, order_date, status, dan order_id.

Tulislah sebuah query SQL yang menghasilkan:

1. Kolom company
2. Kolom tanggal yang merupakan hari dari tanggal order (dalam format tanggal dua digit).
3. Kolom total_rejected yang merupakan jumlah order yang memiliki status 'REJECTED' pada setiap perusahaan (company) pada setiap tanggal order.

Output dari query tersebut harus mengelompokkan hasil berdasarkan company dan tanggal order (tanggal), serta menghitung jumlah order yang memiliki status 'REJECTED' untuk setiap kelompok.

In [ ]:
import pandas as pd
import sqlite3

# Memuat dataset ke dalam DataFrame
orders = pd.read_excel('orders.xlsx')

# Ganti '/path/to/' dengan path yang benar ke file 'order_detail.xlsx'
order_details = pd.read_excel('order_detail.xlsx')

# Membuat koneksi ke database SQLite
conn = sqlite3.connect(':memory:')

# Menulis DataFrame ke dalam tabel database
orders.to_sql('orders', conn, if_exists='replace', index=False)
order_details.to_sql('order_details', conn, if_exists='replace', index=False)

# Menjalankan query SQL
query = """
SELECT
    o.company,
    strftime('%d', o.order_date) AS order_day,
    COUNT(CASE WHEN o.status = 'REJECTED' THEN o.order_id ELSE NULL END) AS total_rejected
FROM
    orders o
GROUP BY
    o.company, order_day
ORDER BY
    o.company, order_day;
"""

# Eksekusi query dan tampilkan hasilnya
df_result = pd.read_sql_query(query, conn)
print(df_result)

# Menutup koneksi
conn.close()

    company order_day  total_rejected
0     Alpha        01               0
1     Alpha        05               1
2     Alpha        11               0
3     Alpha        12               0
4      Beta        01               0
5      Beta        02               0
6      Beta        03               1
7      Beta        15               1
8   Charlie        02               0
9   Charlie        11               0
10    Delta        12               1

### 2. Atasan anda ingin mengetahui apa saja produk yang telah dipesan oleh setiap pelanggan (customer_id) bersama dengan jumlahnya (quantity) pada setiap pesanan?
#### (poin 15)
Saran pengerjaan :
Anda memiliki dua tabel, yaitu orders dan order_details, dengan kolom-kolom berikut:

 1.   Tabel orders memiliki kolom customer_id, order_id, dan mungkin kolom lain terkait pesanan.
 2.   Tabel order_details memiliki kolom order_id, product_name, quantity, dan mungkin kolom lain terkait detail produk.

Tuliskan sebuah query SQL yang melakukan hal berikut:

 1.   Memilih kolom customer_id, order_id, product_name, dan quantity dari kedua tabel tersebut.
 2.   Menggabungkan kedua tabel berdasarkan order_id.
 3.   Mengurutkan hasil berdasarkan customer_id dan order_id.

In [ ]:
import pandas as pd
import sqlite3

# Membuat koneksi ke database SQLite
conn = sqlite3.connect(':memory:')

# Menulis DataFrame ke dalam tabel database
orders.to_sql('orders', conn, if_exists='replace', index=False)
order_details.to_sql('order_details', conn, if_exists='replace', index=False)

# Menjalankan query SQL
query = """
SELECT
    o.customer_id,
    o.order_id,
    od.product_name,
    od.quantity
FROM
    orders o
JOIN
    order_details od ON o.order_id = od.order_id
ORDER BY
    o.customer_id, o.order_id;
"""

# Eksekusi query dan tampilkan hasilnya
df_result = pd.read_sql_query(query, conn)
print(df_result)

# Menutup koneksi
conn.close()

    customer_id  order_id      product_name  quantity
0        322766         5         Green Tea        50
1        727280         2         Coca Cola        70
2        727280         2       Fanta Grape        12
3        727280         2  Fanta Strawberry        20
4        727280         2            Sprite        41
5        961596         4         Coca Cola        40
6       1268454         1         Coca Cola       100
7       1268454         1            Sprite        80
8       1998038         3       Fanta Grape        90
9       1998038         3  Fanta Strawberry        30
10      1998038         3            Sprite       100
11      2202022         6       Fanta Grape        10
12      2202022         6  Fanta Strawberry         8
13      2202022         6         Green Tea        80
14      2202022         6         Soya Milk        15
15      4080000         7         Root Beer        70
16     20055617         8              Milk      1500

### 3. Seperti biasa, atasa anda ingin menampilkan total orders dan kategori di tiap perusahaan dengan beberapa kriteria berikut :
Saran Pengerjaan :
1. category harus :
2. Good (total order status sent > 2 dan total rejected > 0),
3. Superb (tidak ada yang di reject, dan total order status sent > 2),
4. selain ini dia Normal

### notes :
1. Kerjakan secara CTE **(poin 15)**
2. kerjakan secara Nested Query **(poin 15)**
3. Harusnya hasilnya sama, Apakah hasilnya sama setelah anda running jawaban pada poin 1 dan 2 diatas ?

In [ ]:
import pandas as pd
import sqlite3

# Memuat dataset ke dalam DataFrame
orders = pd.read_excel('orders.xlsx')

# Membuat koneksi ke database SQLite
conn = sqlite3.connect(':memory:')

# Menulis DataFrame ke dalam tabel database
orders.to_sql('orders', conn, if_exists='replace', index=False)

# 1. Menggunakan CTE (Common Table Expression)
print("Hasil dengan CTE:")
query_cte = """
WITH CategoryCounts AS (
  SELECT
    company,
    SUM(CASE WHEN status = 'SENT' THEN 1 ELSE 0 END) AS total_sent,
    SUM(CASE WHEN status = 'REJECTED' THEN 1 ELSE 0 END) AS total_rejected
  FROM orders
  GROUP BY company
)
SELECT
  cc.company,
  cc.total_sent,
  cc.total_rejected,
  CASE
    WHEN cc.total_sent > 2 AND cc.total_rejected > 0 THEN 'Good'
    WHEN cc.total_sent > 2 AND cc.total_rejected = 0 THEN 'Superb'
    ELSE 'Normal'
  END AS category
FROM CategoryCounts cc;
"""
df_result_cte = pd.read_sql_query(query_cte, conn)
print(df_result_cte)

# 2. Menggunakan Nested Query
print("\nHasil dengan Nested Query:")
query_nested = """
SELECT
  o.company,
  (SELECT COUNT(*) FROM orders WHERE company = o.company AND status = 'SENT') AS total_sent,
  (SELECT COUNT(*) FROM orders WHERE company = o.company AND status = 'REJECTED') AS total_rejected,
  CASE
    WHEN (SELECT COUNT(*) FROM orders WHERE company = o.company AND status = 'SENT') > 2 AND (SELECT COUNT(*) FROM orders WHERE company = o.company AND status = 'REJECTED') > 0 THEN 'Good'
    WHEN (SELECT COUNT(*) FROM orders WHERE company = o.company AND status = 'SENT') > 2 AND (SELECT COUNT(*) FROM orders WHERE company = o.company AND status = 'REJECTED') = 0 THEN 'Superb'
    ELSE 'Normal'
  END AS category
FROM orders o
GROUP BY o.company;
"""
df_result_nested = pd.read_sql_query(query_nested, conn)
print(df_result_nested)

# Menutup koneksi
conn.close()

Hasil dengan CTE:
   company  total_sent  total_rejected category
0    Alpha           3               1     Good
1     Beta           3               2     Good
2  Charlie           3               0   Superb
3    Delta           1               1   Normal

Hasil dengan Nested Query:
   company  total_sent  total_rejected category
0    Alpha           3               1     Good
1     Beta           3               2     Good
2  Charlie           3               0   Superb
3    Delta           1               1   Normal